/* -------------------- IMPORTED FONTS -------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/* -------------------- ROOT VARIABLES --------------------------------------- */

h1 {
    font-size: 2.5em;
}

header {
    color: #ffffff;
    background-color: #06A816;
}

nav, ul {
list-style-type: none;
}

h2 {
    font-size: 1.75em;
    text-align: center;
}

h3 {
    text-align: center;
}

h3, text {
    font-size: 1.25em;
}

h1, h2, h3 {
    font-family: "Irish Grover";
}

p {
    font-family: Habibii;
    background-color: #ffffff;
    color: #000000;
}

.fresh {
    background-color: #06A816;
    color: #ffffff;
}

.grid-container {
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    gap: 50px 100px;
    list-style-type: none;
}

footer {
    background-color: #000000;
    color: #ffffff;
    background-color: #06A816;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/

@media screen and (min-width: 428px) {
    

    .item-1 {
    grid-column: 1;
    grid-row: 1;
}

    .item-2 {
    grid-column: 1;
    grid-row: 2;
}

.item-3 {
    grid-column: 1;
    grid-row: 3;
}

.item-4 {
    grid-column: 1;
    grid-row: 4;
}

.item-5 {
    grid-column: 1;
    grid-row: 5;
}

.item-6 {
    grid-column: 1;
    grid-row: 6;
}

.item-7 {
    grid-column: 1;
    grid-row: 7;
}

.item-8 {
    grid-column: 1;
    grid-row: 8;
}

.item-9 {
    grid-column: 1;
    grid-row: 9;
}

.item-10 {
    grid-column: 1;
    grid-row: 10;
}

.item-11 {
    grid-column: 1;
    grid-row: 11;
}

.item-12 {
    grid-column: 1;
    grid-row: 12;
}

.street {
    grid-column: 2;
    grid-row: 2;
}

.contact {
    grid-column: 1;
    grid-row: 2;
}

.adress {
    grid-column: 4;
    grid-row: 2;
    list-style-type: none;
}

.hour {
     grid-column: 3;
    grid-row: 2;
}

.copy {
    text-align: center;
    color: #06A816;
}  
}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/

@media screen and (min-width: 834px) {

.item-1 {
    grid-column: 1;
    grid-row: 1;
}

.item-2 {
    grid-column: 2;
    grid-row: 1;
}

.item-3 {
    grid-column: 1;
    grid-row: 2;
}

.item-4 {
    grid-column: 2;
    grid-row: 2;
}

.item-5 {
    grid-column: 1;
    grid-row: 3;
}

.item-6 {
    grid-column: 1;
    grid-row: 3;
}

.item-7 {
    grid-column: 1;
    grid-row: 4;
}

.item-8 {
    grid-column: 2;
    grid-row: 4;
}

.item-9 {
    grid-column: 1;
    grid-row: 5;
}

.item-10 {
    grid-column: 2;
    grid-row: 5;
}

.item-11 {
    grid-column: 1;
    grid-row: 6;
}

.item-12 {
    grid-column: 1;
    grid-row: 6;
}

.street {
    grid-column: 2;
    grid-row: 2;
}

.contact {
    grid-column: 1;
    grid-row: 2;
}

.adress {
    grid-column: 4;
    grid-row: 2;
    list-style-type: none;
}

.hour {
     grid-column: 3;
    grid-row: 2;
}

.copy {
    text-align: center;
    color: #06A816;
}
}

/*-------------------- MEDIA QUERY (large) ------------------------------------*/

@media screen and (min-width: 1280px) {

    .item-1 {
    grid-column: 1;
    grid-row: 1;
}

.item-2 {
    grid-column: 2;
    grid-row: 1;
}

.item-3 {
    grid-column: 3;
    grid-row: 1;
}

.item-4 {
    grid-column: 1;
    grid-row: 2;
}

.item-5 {
    grid-column: 2;
    grid-row: 2;
}

.item-6 {
    grid-column: 3;
    grid-row: 2;
}

.item-7 {
    grid-column: 1;
    grid-row: 3;
}

.item-8 {
    grid-column: 2;
    grid-row: 3;
}

.item-9 {
    grid-column: 3;
    grid-row: 3;
}

.item-10 {
    grid-column: 1;
    grid-row: 4;
}

.item-11 {
    grid-column: 2;
    grid-row: 4;
}

.item-12 {
    grid-column: 3;
    grid-row: 4;
}

.street {
    grid-column: 2;
    grid-row: 2;
}

.contact {
    grid-column: 1;
    grid-row: 2;
}

.adress {
    grid-column: 4;
    grid-row: 2;
    list-style-type: none;
}

.hour {
     grid-column: 3;
    grid-row: 2;
}

.copy {
    text-align: center;
    color:#06A816;
}
}

/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media screen and (min-width: 1448px) {
.item-1 {
    grid-column: 1;
    grid-row: 1;
}

.item-2 {
    grid-column: 2;
    grid-row: 1;
}

.item-3 {
    grid-column: 3;
    grid-row: 1;
}

.item-4 {
    grid-column: 4;
    grid-row: 1;
}

.item-5 {
    grid-column: 1;
    grid-row: 2;
}

.item-6 {
    grid-column: 2;
    grid-row: 2;
}

.item-7 {
    grid-column: 3;
    grid-row: 2;
}

.item-8 {
    grid-column: 4;
    grid-row: 2;
}

.item-9 {
    grid-column: 1;
    grid-row: 3;
}

.item-10 {
    grid-column: 2;
    grid-row: 3;
}

.item-11 {
    grid-column: 3;
    grid-row: 3;
}

.item-12 {
    grid-column: 4;
    grid-row: 3;
}

.street {
        grid-column: 2;
        grid-row: 2;
}
    
.contact {
        grid-column: 1;
        grid-row: 2;
}
    
.adress {
        grid-column: 4;
        grid-row: 2;
        list-style-type: none;
}
    
.hour {
         grid-column: 3;
        grid-row: 2;
 }
    
.copy {
        text-align: center;
        color: #06A816;
}
}
